.App {
  text-align: center;
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
 
  pointer-events: none;
}



.App-header {
  background-color:white ;
 
 
 
  font-size: calc(10px + 2vmin);
  margin:15px;
  
}

.App-link {
  color: #61dafb;
}
.survey-main-btn{
  
  padding :50px;
  width :150px;
  margin:15px;
  background-color: #af5f46;
  border:none;
}


