body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.question-container{
  padding:20px;
  width:400px;
}

.question-container .inputField{
 margin-bottom: 20px;

}
.question-container .inputFieldText{
 text-align: left;  
 font-size: 20px;

}
.question-single-select ,.question-main-btn{
   margin-top:35px;
   margin-right:10px;
}
